// Specific CSS for your home-page
body {
  background-color: #ffffff;
}

h2 {
  color: #f4bcbc;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}

a {
  color: #4f5d75;
  text-decoration: none;
  &:hover {
  color: #bfc0c0;
  text-decoration: none;
  }
}

p {
  font-size: 16px;
  font-weight: lighter;
}


.container {
  padding: 40px 0px;
}
