<div class="container">
  <h1>Edit your flat</h1>
  <div>
    <%= render 'edit_flat_form' %>
  </div>
  <br>
  <%= link_to "Back to your flat", flat_path(@flat), class: "btn btn-primary center-block"%>
</div>
