<%= render "shared/navbar" %>

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <h1>Available rooms</h1>

      <div class="card-container">
        <%@flats.each do |flat| %>
          <div class="card">
            <div class="card-name"><%= link_to "Flat name", flat_path(flat)%></div>
            <div class="card-corner">
              <div class="card-price">30€</div>
            </div>
          </div>
         <% end %>
         <%@flats.each do |flat| %>
          <div class="card">
            <%= link_to "Flat name", flat_path(flat)%>
          </div>
         <% end %>
      </div>

    </div>
  </div>
</div>




