<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <h1>Available rooms</h1>
      <p>Where will you make some memories this weekend?</p>
      <br>

      <div class="card-container" >
        <%@flats.each do |flat| %>
          <div class="card" style="background-image: url(<%= cl_image_path flat.photo, height: 300, width: 400, class: "show-image" %>)">
            <a class="card-link" href="<%= flat_path(flat) %>"></a>
            <div class="card-banner">
              <div class="card-name">
                <%= flat.name %>
              </div>
              <div class="card-price"><%= flat.price %>€</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
