
<div class="banner_new_flat" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,6,0.6) 50%), url('https://www.somerleyton.co.uk/wp-content/uploads/2017/08/Somerleyton-bedroom.jpg');">

<div class="container">
  <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5">
        <div class="tagline">
          <p>BECOME HOST</p>
          <h1><strong>Earn money hosting on PinkFlats</strong></h1>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-5">
      <div class="form_emplacement">
        <h1><strong>ADD YOUR FLAT</strong></h1>
        <% if policy(Flat).create? %>
          <%= render 'new_flat_form' %>
        <% end %>
      </div>
    </div>
  </div>
 </div>
