<div class="footer">
    <div class="footer-links">
      <i class="fa fa-key fa-2x" aria-hidden="true"></i>
      <p>&nbsp;was made with</p>
      <a href="#"><i class="fa fa-github fa-2x"></i></a>
      <p>@ le</p>
      <a href="#"><i class="fa fa-train fa-2x"></i></a>
  </div>
</div>
