<div class="banner-home">
  <div class="banner-home-content">
    <h1>let's &nbsp;&nbsp;&nbsp;<b>get away</b>&nbsp;&nbsp;&nbsp;this weekend</h1>
    <p>The romantic retreat of your dreams is just a click away</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Let us sweep you off your feet</h2>
      <p>Treat yourself and a special someone to a romantic retreat to a magical location.<p>
      <br>
      <h2>Where to?</h2>
      <p>search bar goes here</p>
    </div>
  </div>
</div>

