<div class="banner-home">
  <div class="banner-home-content">
    <h1>let's &nbsp;&nbsp;&nbsp;<b>get away</b>&nbsp;&nbsp;&nbsp;this weekend</h1>
    <p>The romantic retreat of your dreams is just a click away</p>
    <div class="search-form">
      <%= form_tag flats_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control search-bar-home",
        placeholder: "Enter a city to find your perfect love nest" %>
        <%= submit_tag 'Search', class: 'btn btn-search-home' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div>
        <h2>Let us sweep you off your feet</h2>
        <p>Treat yourself and a special someone to a romantic retreat to a magical location. When you think of the word paradise, images of palm trees, beaches and waterfalls populate your mind. For many, that’s the epitome of paradise. For others, paradise is a getaway into the unknown with their significant other,  experiencing new things and seeing new places.<p>
        <h2>Treat yourself</h2>
        <p>Life is short, and thanks to Pink Flats, a romantic getaway with your loved one(s) is only a few clicks away. Why wait ? Give your partner the best getaway experience, and watch them be blown away. Your partner will never look at you the same again.</p>
      </div>
    </div>
  </div>
</div>

