<div class="banner-home">
  <div class="banner-home-content">
    <h1>let's &nbsp;&nbsp;&nbsp;<b>get away</b>&nbsp;&nbsp;&nbsp;this weekend</h1>
    <p>The romantic retreat of your dreams is just a click away</p>
    <%= link_to "Explore", flats_path, class:"btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div>
        <h2>Let us sweep you off your feet</h2>
        <p>Treat yourself and a special someone to a romantic retreat to a magical location. When you think of the word paradise, images of palm trees, beaches and waterfalls populate your mind. For many, that’s the epitome of paradise. For others, paradise is a getaway into the unknown with their significant other,  experiencing new things and seeing new places.<p>
      </div>
    </div>
  </div>
</div>

