<%= render "shared/navbar" %>

<div class="banner-home">
  <div class="banner-home-content">
    <h1><i>Let's go away</i> this weekend</h1>
    <p>The romantic getaway of your dreams is just a click away</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h2>Let us sweep you off your feet</h2>
      <p>Treat yourself and a special someone to a romantic retreat to a magical location.<p>
      <br>
      <h2>Where to?</h2>
      <p>search bar goes here</p>
    </div>
  </div>
</div>

