.banner-home {
  color: #fff;
  text-align: center;
  height: 85vh;
  width: 100%;
  margin-top: -60px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: asset-url('u.png');
  background-size: cover;
  border-bottom: 5px solid #8b8982;
  h1 {
  font-size: 50px;
  font-weight: lighter;
  color: white;
  letter-spacing: -2px;
} b {
  font-weight: normal;
  letter-spacing: 25px;
  color: #fff8f0;
}
  p {
  font-size: 22px;
  font-weight: lighter;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 50px;
  }
  .btn-search {
    border: 3px solid white;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    font-size: 14px;
  }
  .btn-search:hover {
    background-color: white;
    color: #8b8982;
  }
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-bar {
    width: 500px;
    border: none;
    border-radius: 40px;
    font-size: 12px;
    padding-left: 15px;
    letter-spacing: 2px;
    opacity: 0.8;
  }
}

