.banner-home {
  color: #fff;
  text-align: center;
  height: 100vh;
  width: 100%;
  margin-top: -60px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: asset-url('u.png');
  background-size: cover;
  border-bottom: 5px solid #8b8982;
  h1 {
  font-size: 50px;
  font-weight: lighter;
  color: white;
  letter-spacing: -2px;
} b {
  font-weight: normal;
  letter-spacing: 25px;
  color: #fff8f0;
}
  p {
  font-size: 22px;
  font-weight: lighter;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 50px;
  }
}

.banner-home-content {
  margin-bottom: 70px;
}

.home-description {
  text-align: justify;
}
