.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  flex: 0 0 450px;
  height: 320px;
  background-size: cover !important;
  background-image: url('card.jpg');
  background-position: center;
  color: white;
  position: relative;
  margin: 25px 10px;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}



.card-banner {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 60px;
  padding: 10px;
  background: white;
  a {
    color: #8b8982;
    font-weight: lighter;
    font-size: 28px;
  }
}

.card-price {
  position: absolute;
  bottom: 10px;
  right: 15px;
  color: #8b8982;
  font-weight: lighter;
  font-size: 28px;
}
