.form_emplacement {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 100%;
  align-items: center;
  flex-direction: column;

    h1 {
    color: white;
    font-family: Open Sans;
    font-size: 24px;
    }
}

.link_return_to_flats {
  color: #FFB8B9;
  font-family: Open Sans;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  margin-right: 40%;
}

.simple_form_for_new_flat {
  padding: 30px;
  background-color: #F9F9F9;
  min-width: 350px;
  border-radius: 5px;
}

.button-new-flat {
  width: 300px;
  background-color: #836A6A;
  border: #836A6A;
  border-radius: 2px;
}

.button-new-flat a:hover {
  width: 300px;
  background-color: green;
  border: #836A6A;
}

.main-container {
  padding: 40px 0px 40px 0px;
}
