@media (max-width: 768px) {
  .tagline {
    height: 200px;
  }
}

.form_emplacement {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.form_emplacement {
  .link_return_to_flats {
    color: #FFB8B9;
    font-family: Open Sans;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
    margin-right: 40%;
  }
  h1 {
    color: white;
    font-family: Open Sans;
    font-size: 24px;
  }
}

.tagline {
  display: flex;
  justify-content: center;
  margin-left: 12px;
  height: 600px;
  width: 100%;
  flex-direction: column;
  p {
    color: white;
    font-size: 20px;
    margin-bottom: -15px;
  }
  h1 {
    color: white;
    font-family: Open Sans;
    font-size: 38px;
  }
}
