.comment {
  font-style: italic;
  font-weight: lighter;
}

.flexbox-comment {
  display: flex;
  justify-content: left;
  align-items: center;
}

.rating {
  margin-bottom: -25px;
  margin-left: -43px;
}
