.btn-search-home {
    border: 3px solid white;
    border-radius: 40px;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    font-size: 14px;
    &:hover {
    background-color: white;
    color: #8b8982;
  }
}
.btn-search-index {
    border: 3px solid #8b8982;
    border-radius: 40px;
    background-color: transparent;
    color: #8b8982;
    font-size: 14px;
    &:hover {
    background-color: #8b8982;
    color: white;
  }
}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.search-bar-home {
  width: 500px;
  border: none;
  border-radius: 40px;
  font-size: 12px;
  padding-left: 15px;
  letter-spacing: 2px;
  opacity: 0.8;
}
.search-bar-index {
  width: 500px !important;
  border: 3px solid #8b8982;
  border-radius: 40px;
  font-size: 12px;
  padding-left: 15px;
  letter-spacing: 2px;
  opacity: 0.8;
}
