// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

h1 {
  color: #846a6a;
  font-size: 37px;
  font-weight: normal;
  margin-bottom: 20px;
}

body {
  background-color: #ffffff;
  overflow-x: hidden;
}

h2 {
  color: #f4bcbc;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: lighter;
}

.btn-show {
  background-color: #846a6a;
  border: 1px solid #846a6a;
  font-size: 12px;
  margin-right: 10px;
  color: white;
  &:hover {
    background-color: white;
    color: #846a6a;
    border: 1px solid #846a6a;
  }
  &:active {
    background-color: white;
    color: #846a6a;
    border: white;
  }
}

.form-inputs {
  input:focus {
    border: 1px solid #846a6a;
    box-shadow: none;
  }
  .help-block {
    font-size: 12px;
  }
  label {
    display: none;
  }
  p {
    margin-bottom: 0;
    font-size: 10px;
  }
}

.log-in {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  h2 {
    margin: 0;
    padding: 20px 0px;
  }
}

.results {
  display: flex;
}
