<div class="review-card">
                <img src="https://kitt.lewagon.com/placeholder/users/coughinbach" id="avatar-show"><p>Lola</p>
              <%= review.content %>
              <%= review.rating %>
              </div>
